@use "../abstracts";

.about {
    margin-top: 48px;
    padding: 54px 0;

    @include abstracts.screen(xl) {
        margin-top: 0;
        padding: 30px 0;
    }

    @include abstracts.screen(md) {
        margin-top: 70px;
        padding: 0;
    }

    &__left-title,
    &__right-title {
        font-family: "Libre Bodoni", serif;
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 34px;
    }

    &__right-title {
        text-align: center;
        color: var(--bg-color);
    }

    &__left {
        @include abstracts.flexCenter;
        flex-direction: column;
        min-height: 360px;
        background: url(../img/about/cover.png) no-repeat center/cover;

        &-content {
            display: flex;
            flex-direction: column;
            gap: 14px;
            margin-top: 10px;
            white-space: nowrap;
        }
    }

    &__right {
        @include abstracts.flexCenter;
        flex-direction: column;
        min-height: 360px;
        background: var(--primary-color);

        &-content {
            width: 60%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &-text {
            margin-top: 14px;
            color: var(--bg-color);
        }
    }
}
