.align-center {
    align-items: center;
}

.separate {
    height: 1px;
    background: #ffffffcc;
    opacity: 0.5;

    &:not(.separate--no-margin) {
        margin: 30px 0;
    }
}

.link {
    margin-top: 40px;
    color: var(--primary-color);

    &.no-margin {
        margin: 0 !important;
    }

    &:hover {
        font-weight: 600;
    }
}

.icon {
    filter: var(--icon-color);
}

.menu-icon {
    filter: var(--icon-menu-color);
}
